.container {
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  padding-right: 5%;
  padding-left: 5%;
}

$mainColor: #8a1538;
$secColor: #5b0d25;

* {
  text-overflow: ellipsis;
}

body {
  nav {
    width: 100%;
    height: 200px;
    padding-bottom: 20px;
    box-sizing: content-box;

    header {
      background-image: url(../images/pattern.png);
      background-color: $mainColor;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
      height: 100%;

      .container {
        display: flex;
        height: 100%;

        justify-content: flex-end;
        align-items: center;
        color: #fff;
        position: relative;
      }
    }

    img {
      position: absolute;
      z-index: 4;
      height: 300px;
      left: 50px;
      top: 20px;
      filter: drop-shadow(5px 5px 30px #222);
    }
  }

  >section:first-of-type {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    img {
      width: 700px;
    }

    h1 {
      font-size: 4rem;
      font-weight: bold;
      text-align: center;
    }
  }

  >section#groupss {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;

      >article {
        display: flex;
        flex-direction: column;
        border: 1px solid #9797972e;
        border-top: none;

        >* {
          width: 100%;
          margin: 0;
          font-size: 2rem;
          text-align: center;
          color: #fff;

          &:first-child {
            background-color: $mainColor;
          }

          &:nth-child(2) {
            background-color: $secColor;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-inline: 20px;
            justify-items: start;
          }

          &:nth-child(3) {
            display: flex;
            flex-direction: column;
            color: #000;

            >* {
              display: grid;
              grid-template-columns: repeat(2, 50%);
              padding-inline: 20px;
              justify-items: start;
              border-bottom: 1px solid #9797972e;

              * {
                margin-block: 4px;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: fill-available;
                white-space: nowrap;
              }

              >* {
                display: inline-flex;
                justify-content: space-between;
                align-items: center;

                .img {
                  margin-right: 30px;
                  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Flag_of_Saudi_Arabia.svg/560px-Flag_of_Saudi_Arabia.svg.png);
                  background-position: center;
                  background-size: 50px 50px;
                  width: 50px;
                  box-sizing: border-box;
                  border: 2px solid #97979778;
                  height: 50px;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }
  }


  >section#matches {
    margin-top: 100px;

    >article {
      display: grid;
      margin-top: 100px;
      border: 1px solid #9797972e;
      position: relative;
      grid-template-columns: 1fr 1.5fr 1fr;

      span {
        top: -80px;
        font-size: 2rem;
        border: 1px solid #9797972e;
        border-radius: 30px 30px 0 0;
        border-bottom: none;
        padding: 15px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
      }

      >p {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 2rem;
      }

      >div {
        background-color: $mainColor;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: 15%;
        flex-direction: column;

        &:first-of-type {
          border-radius: 200px 0 0 200px;
        }

        &:last-of-type {

          border-radius: 0 200px 200px 0;
        }

        >* {
          margin: 0;
          font-size: 2rem;
        }

        .img {
          background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Flag_of_Saudi_Arabia.svg/560px-Flag_of_Saudi_Arabia.svg.png);
          background-position: center;
          background-size: 50px 50px;
          width: 50px;
          box-sizing: border-box;
          border: 2px solid #97979778;
          height: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}